p {
  margin: 0;
}
input {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Khand', sans-serif;
  width: 98%;
  padding: 2% 0;
  padding-left: 3px;
  border: none;
}

#box {
  width: 240px;
  height: 316px;
  background-color: rgba(217, 217, 217, 0.1);
  border: 2px solid white;
  display: flex;
  flex-direction: column;

  #heading-box {
    width: 100%;
    background-color: white;

    #heading {
      text-align: center;
      margin: 0;
    }
  }

  .field {
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .field-heading {
      font-size: 19px;
      width: 80%;
      color: white;
      margin: 0;
    }

    #label {
      background-color: white;
      padding: 0;
      height: 100%;
      width: 80%;
    }

    #short-url {
      padding: 2% 0;
      width: 80%;
      background-color: rgba(69, 65, 65, 1);
      #url {
        color: white;
        text-align: center;
      }
    }
  }
}

#button-box {
  margin-top: 12%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  display: flex;
  flex-direction: row;
}

.error-icon {
  margin: 4px;
}

#submit-button {
  font-size: 20px;
  padding: 0 8%;
  font-weight: bold;
  font-family: 'Khand', sans-serif;
  background-color: white;
}

@media screen and (min-width: 1035px){
  #box {
    width: 390px;
    height: 416px
  }
}